.logo {
  background: url('./asset/fox.svg');
  background-size:15px;
  background-repeat: no-repeat;
  padding-left: 30px;
  background-position:10px center;
}


.card{
  padding: 0 20px 20px 20px;
  margin:0 20px;
}
.card-header{
  margin-top: 20px;
}
.card-question{
  border-top: 1px solid #eee;
}
.btn-group{
  text-align: right;
  padding: 10px;
  border-top: 1px solid #eee;
}


